<div class="jumbotron">
  <div class="container">
    <div ng-hide="vm.ready">
      <h1>Relax. Remember.</h1>
      <h4>Take 10 minutes to meditate. As the important stuff pops in your head, note it by saying 'New Item...'</h4>
      <button class='btn' ng-click="startApp()">Get Started!</button>
    </div>  
    <div ng-show="vm.ready">
      <div class='col-md-4'>
        <timer countdown="600" autostart="false" interval="1000">
          <h1>{{minutes}}:{{sseconds}}</h1>
        </timer>
        <button class="btn pulse" ng-click="startTimer()" ng-disabled="timerRunning">Start Timers</button>
        <button class="btn" ng-click="stopTimer()" ng-disabled="!timerRunning">Stop Timers</button>
        <!-- <button class="btn" ng-click="addTime()">Add 1 Minute</button>-->
      </div>
      <div class='col-md-8'>
        <h2>Memory List:</h2>
        <ul>
          <li ng-repeat="todo in vm.todos">
            <span ng-class="{'done':todo.done}" class="list-items">{{todo.title}}</span>
            <input type="checkbox" ng-model="todo.done" />
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class='color0'></div>
<div class='color1'></div>